<div class="container text-center">
 

  <div>
    <form action="">
      <label for="title" class="text-white">
        Title:
        <input name="title" type="text" placeholder="title">
      </label>
      <label for="description" class="text-white">
        Description
        <input name="description" type="text" placeholder="description">
      </label>
      <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
  </div>
  <div class="row justify-content-center align-items-center">

    <div class="col col-lr-4">
      <h2 class="text-white ">Pending</h2>
      <div class="card pending"></div>
    </div>
    <div class="col col-lr-4">
      <h2 class="text-white " >Completed</h2>
      <div class="card completed"></div>
    </div>
    <div class="col col-lr-4 " >
      <h2 class="text-white">Skipped</h2>
      <div class="card skipped"></div>
    </div>
  </div>
</div>